<body>
  <div id="en">
  <%- include("../partials/header") %>
  <%- include("../navs/nav") %>
  
  <main class="container text-left mt-4">
    <!-- Main Content -->
    <section id="contact" class="container">
        <h1 class="titleEN">Contact Me</h1>
        <br>
        <form id="my-form" action="https://formspree.io/f/maylpvyj" method="POST">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input placeholder="Enter your first name" type="text" id="firstName" name="firstName">
              </div>
          
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input placeholder="Enter your last name" type="text" id="lastName" name="lastName">
              </div>

              <div class="form-group">
                <label for="subject">Subject</label>
                <input placeholder="Enter the subject" type="text" id="subject" name="subject">
              </div>
          
              <div class="form-group">
                <label for="email">Email</label>
                <input placeholder="Enter your email" type="email" id="email" name="email">
              </div>
          
              <div class="form-group">
                <label for="message">Message</label>
                <textarea placeholder="Type your message" name="message" id="message" cols="30" rows="10"></textarea>
              </div>
          
              <button class="btn" name="submit" id="Submit" type="submit">Submit</button>
        </form>
        <p id="status"></p>
        <hr>
        <br>
        <h1>OR</h1>
        <br>
        <div>
          <i class="far fa-envelope"></i>
          <a href="rafamlf.2011@gmail.com" type="email" >rafamlf.20011@gmail.com</a>
        </div>
        <div>
          <i class="fab fa-whatsapp"></i>
          <a>+55 (34) 9 9106-8414</a>
        </div>
        </section>
  </main>
  
  <%- include('../footer/footer')  %> 
  
  </body>
  
  </html>


