<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rafhael Marques | Página de inicio</title>
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link href="css/bootstrap-grid.css" type="text/css" rel="stylesheet">
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet">
    <link rel="icon" type="image/png" href="imgs/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&family=Roboto:ital,wght@1,700&display=swap"
        rel="stylesheet">
    <style>
        body {
            background-image: linear-gradient(to right, #ff9736 0%, #fcb457 100%);
        }

        header {
            background-image: url("backgrounds/image1.jpg") !important;
        }

        .active:hover {
            color: white !important;
            opacity: 85%;
            border-top: hidden;
        }
    </style>
</head>

<body>
    <div id="es">
        <nav id="navbar" class="es navbar navbar-expand-lg navbar-light bg-light align-items-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse  navbar-collapse" id="navbarTogglerDemo01">
                <ul class="text-center  navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link active" href="/es">
                            <span class="sr-only"></span>
                            <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-house-fill"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                                <path fill-rule="evenodd"
                                    d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hover hover-1" href="#">Currículum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hover hover-1" href="MyResume(Recent).pdf">Proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hover hover-1" href="#">Contacto</a>
                    </li>

                </ul>
                <ul class="navbar-nav float-right">
                    <li class="nav-item">
                        <a href="/"> <img class="flags usa-flag" src="imgs/usa.png" alt=""> </a>
                    </li>
                    <li class="nav-item">
                        <a href="../pt"> <img class="flags brazil-flag" src="imgs/brazil.png" alt=""> </a>
                    </li>
                    <li class="nav-item">
                        <a href="../es"> <img class="flags spain-flag" src="imgs/spain.png" alt=""> </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="javascript/website.js"></script>
    <script type="text/javascript" src="javascript/jquery-3.5.1.min.js"></script>
</body>