<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rafhael Marques | Home</title>
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link href="css/bootstrap-grid.css" type="text/css" rel="stylesheet">
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet">
    <link rel="icon" type="image/png" href="imgs/icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2421da2d24.js" crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&family=Roboto:ital,wght@1,700&display=swap"
        rel="stylesheet">
    <style>
        body {
            background-image: linear-gradient(to right, #13094b 0%, #2b2e4e 100%);
        }

        header {
            background-image: url("backgrounds/image3.jpg") !important;
        }

        .active:hover {
            color: white !important;
            opacity: 85%;
            border-top: hidden;
        }
    </style>
</head>

<body>
    <div id="en">
        <nav id="navbar" class="en navbar navbar-expand-lg navbar-light bg-light align-items-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse  navbar-collapse" id="navbarTogglerDemo01">
                <ul class="text-center  navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item ">
                        <a class="nav-link active" href="/"><i class="fas fa-home"></i>
                            <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="MyResume(Recent).pdf">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                <ul class="navbar-nav float-right">
                    <li class="nav-item">
                        <a href="/"> <img class="flags usa-flag" src="imgs/usa.png" alt=""> </a>
                    </li>
                    <li class="nav-item">
                        <a href="../pt"> <img class="flags brazil-flag" src="imgs/brazil.png" alt=""> </a>
                    </li>
                    <li class="nav-item">
                        <a href="../es"> <img class="flags spain-flag" src="imgs/spain.png" alt=""> </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="javascript/website.js"></script>
    <script type="text/javascript" src="javascript/jquery-3.5.1.min.js"></script>
</body>