<head>
    <style>
        footer{
            margin-bottom: -50px !important;
        }
    </style>
</head>
<body>
    <div id="en">
    <%- include("../partials/header") %>
    <%- include("../navs/nav") %>

<div style="margin-bottom: 350px;" class="resume">
    <!-- Download button -->   
        <h1 style="text-align: center;">Rafhael Marques de Lima Freitas</h1>   
    <hr>
    <br>
    <div class="container">
        <div class="row">
          <div class="col">
            <h2>Contact</h2>
            <h3>+55 (34) 9 9106-8414</h3>
            <h3>rafamlf.2011@gmail.com</h3>
            <h3>linkedin: Rafhael Freitas</h3>
          </div>
          <div class="col">
            <h2>Experience</h2>
            <h3>Stumpvus - Aug 2019 - Feb 2020</h3>
            <h4>Business Manager</h4>
            <br>
            <h3>Freelance Designer & Translator</h3>
            <h4>Designing social media posts and translating documents, texts, etc. From english to portuguese & vice-versa</h4>
          </div>
        </div>
        <div class="row">
            <div class="col">
              <h2>Education / Certifications</h2>
              <h3>Web Developer Course - 2020</h3>
              <h4>Full-Stack Web Development</h4>
              <br>
              <h3>Mises University - 2020</h3>
              <h4>Economics</h4>
              <br>
              <h3>Stanford | Online - 2019</h3>
              <h4>Principles of Economics</h4>
              <br>
              <h3>Ceped - 2019</h3>
              <h4>Administrative Assistant</h4>
            </div>
            <div class="col">
                <h2>Languages</h2>
                <ul>
                    <li>English - Fluent</li>
                    <li>Portuguese - Native</li>
                    <li>Spanish - Intermediate</li>
                </ul>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Front-end Frameworks & Languages</h2>
        </div>
        <div class="col">
            <h2>Back-end Frameworks & Languages</h2>
        </div>
      </div>

</div>
    <%- include('../footer/footer')  %> 
</body>

</html>