<head>
    <style>
        body {
            background-color: #f7b42c;
            background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);

        }

        footer {
            margin-bottom: -50px !important;
        }
    </style>
</head>

<body>
    <div id="pt">
        <%- include("../partials/header") %>
        <%- include("../navs/navPT") %>

        <div style="margin-top: 20px; margin-bottom: 50px;" class="resume resumePT">
            <!-- Download button -->
            <h1 style="text-align: center;">Rafhael Marques de Lima Freitas</h1>
            <hr>
            <br>
            <div class="row">
                <div class="col">
                    <h2>Contato</h2>
                    <h3>+55 (34) 9 9106-8414</h3>
                    <h3>rafamlf.2011@gmail.com</h3>
                    <h3>linkedin: Rafhael Freitas</h3>
                </div>
                <div class="col">
                    <h2>Experiência</h2>
                    <h3>Stumpvus - Agosto 2019 - Fevereiro 2020</h3>
                    <h4>Gerente</h4>
                    <br>
                    <h3>Freelance Designer & Tradutor</h3>
                    <h4>Criando postagens de mídias sociais e traduzindo documentos, textos, etc. De inglês para português e
                        vice-versa</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Educação / Certificações</h2>
                    <h3>Web Developer Course - 2020</h3>
                    <h4>Full-Stack Desenvolvimento Web</h4>
                    <br>
                    <h3>Mises University - 2020</h3>
                    <h4>Economia</h4>
                    <br>
                    <h3>Stanford | Online - 2019</h3>
                    <h4>Principios Economicos</h4>
                    <br>
                    <h3>Ceped - 2019</h3>
                    <h4>Assistente Administrativo</h4>
                </div>
                <div class="col">
                    <h2>Idiomas</h2>
                    <ul>
                        <li>Inglês - Fluente</li>
                        <li>Português - Nativo</li>
                        <li>Espanhol - Intermediário</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Front-end Frameworks & Linguagens</h2>
                    <ul>
                        <li>HTML</li>
                        <li>CSS c/ SASS</li>
                        <li>JavaScript c/ JQuery, React.Js, EJS</li>
                        <li>Python</li>
                    </ul>
                </div>
                <div class="col">
                    <h2>Back-end Frameworks & Linguagens</h2>
                    <ul>
                        <li>Node.JS</li>
                        <li>Express.JS</li>
                        <li>Next.Js</li>
                        <li>MongoDB</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Bibliotecas, Ferramentas De Desenvolvimento, Packages, etc.</h2>
                    <ul>
                        <li>Git</li>
                        <li>Github</li>
                        <li>RESTful</li>
                        <li>API's</li>
                        <li>Postman</li>
                        <li>SemanticUI | Bootstrap | Primereact </li>
                        <li>Heroku | Vercel </li>
                    </ul>
                </div>
                <div class="col">
                    <h2>Projetos</h2>
                    <a href="/pt#projects">Projetos</a>
                </div>
            </div>
        </div>
        <%- include('../footer/footerPT')  %>

</body>

</html>