<head>
    <style>
        body {
            background-image: radial-gradient( circle farthest-corner at 2.8% 27.8%,  rgba(47,61,114,1) 0%, rgba(75,44,91,1) 90.2% );
        }

        footer {
            margin-bottom: -50px !important;
        }
    </style>
</head>

<body>
    <div id="es">
        <%- include("../partials/header") %>
        <%- include("../navs/navES") %>

        <div style="margin-top: 20px; margin-bottom: 50px;" class="resume resumeES">
            <!-- Download button -->
            <h1 style="text-align: center;">Rafhael Marques de Lima Freitas</h1>
            <hr>
            <br>
            <div class="row">
                <div class="col">
                    <h2>Contacto</h2>
                    <h3>+55 (34) 9 9106-8414</h3>
                    <h3>rafamlf.2011@gmail.com</h3>
                    <h3>linkedin: Rafhael Freitas</h3>
                </div>
                <div class="col">
                    <h2>Experiencia</h2>
                    <h3>Stumpvus - Agosto 2019 - Febrero 2020</h3>
                    <h4>Gerente</h4>
                    <br>
                    <h3>Freelance Designer & Tradutor</h3>
                    <h4>Creación de publicaciones en redes sociales y traducción de documentos, textos, etc. Del inglés al portugués y
                        viceversa</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Educación / Certificaciones</h2>
                    <h3>Web Developer Course - 2020</h3>
                    <h4>Full-Stack Desarrolo Web</h4>
                    <br>
                    <h3>Mises University - 2020</h3>
                    <h4>Economía</h4>
                    <br>
                    <h3>Stanford | Online - 2019</h3>
                    <h4>Principios Económicos</h4>
                    <br>
                    <h3>Ceped - 2019</h3>
                    <h4>Asistente Administrativo</h4>
                </div>
                <div class="col">
                    <h2>Idiomas</h2>
                    <ul>
                        <li>Inglés - Fluido</li>
                        <li>Portugués - Nativo</li>
                        <li>Español - Intermedio</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Front-end Frameworks & Lenguajes </h2>
                    <ul>
                        <li>HTML c/ Bootstrap</li>
                        <li>CSS c/ SASS</li>
                        <li>JavaScript c/ JQuery, React.Js, EJS</li>
                        <li>Python</li>
                    </ul>
                </div>
                <div class="col">
                    <h2>Back-end Frameworks & Lenguajes </h2>
                    <ul>
                        <li>Node.JS</li>
                        <li>Express.JS</li>
                        <li>Next.Js</li>
                        <li>MongoDB</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Bibliotecas, Herramientas de Desarrollo, Packages, etc.</h2>
                    <ul>
                        <li>Git</li>
                        <li>Github</li>
                        <li>Docker</li>
                        <li>Webpack</li>
                        <li>RESTful</li>
                        <li>API's</li>
                        <li>Postman</li>
                        <li>SemanticUI</li>
                        <li>Heroku</li>
                    </ul>
                </div>
                <div class="col">
                    <h2>Proyectos</h2>
                    <a href="/projects">Página de Proyectos</a>
                </div>
            </div>
        </div>
        <%- include('../footer/footerES')  %>

</body>

</html>