<div class="skills">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1200px-HTML5_logo_and_wordmark.svg.png"
        style="width: 130px; height: 130px;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png"
        style="width: 90px; height: 130px;">
    <img src="https://www.justapplications.co.uk/wp-content/uploads/2019/12/Javascript-shield-1.png"
        style="width: 130px; height: 130px;">
    <br>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Sass_Logo_Color.svg/1200px-Sass_Logo_Color.svg.png"
        style="width: 130px; height: 130px;">
    <img src="https://www.searchpng.com/wp-content/uploads/2019/02/Bootstrap-Logo-PNG.png"
        style="width: 130px; height: 130px;">
    <br>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1280px-React-icon.svg.png" style="width: 190px; height: 130px;">
    <img src="https://kazzylen.com/wp-content/uploads/jquery-logo-png-800.gif" style="width: 130px; height: 130px;">
    <br>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png" style="width: 200px; height: 150px;">
    <img src="https://buttercms.com/static/images/tech_banners/ExpressJS.png" style="width: 280px; height: 90px;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Nextjs-logo.svg/800px-Nextjs-logo.svg.png" style="width: 250px; height: 130px;">
    <br>
   <!-- <img src="https://nakedsecurity.sophos.com/wp-content/uploads/sites/2/2017/01/mongodb.png?w=775" style="width: 250px; height: 180px;">
    <img src="https://img.icons8.com/color/452/firebase.png" style="width: 150px; height: 150px;"> -->
</div>
