<div class="skills">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1200px-HTML5_logo_and_wordmark.svg.png"
        style="width: 150px; height: 150px;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png"
        style="width: 100px; height: 150px;">
    <img src="https://www.justapplications.co.uk/wp-content/uploads/2019/12/Javascript-shield-1.png"
        style="width: 150px; height: 150px;">
    <br>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Sass_Logo_Color.svg/1200px-Sass_Logo_Color.svg.png"
        style="width: 150px; height: 150px;">
    <img src="https://www.searchpng.com/wp-content/uploads/2019/02/Bootstrap-Logo-PNG.png"
        style="width: 150px; height: 150px;">
    <br>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1280px-React-icon.svg.png" style="width: 230px; height: 150px;">
    <img src="https://kazzylen.com/wp-content/uploads/jquery-logo-png-800.gif" style="width: 180px; height: 150px;">
    <br>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png" style="width: 200px; height: 150px;">
    <img src="https://buttercms.com/static/images/tech_banners/ExpressJS.png" style="width: 300px; height: 110px;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Nextjs-logo.svg/800px-Nextjs-logo.svg.png" style="width: 270px; height: 150px;">
    <br>
    <img src="https://assets.stickpng.com/thumbs/58481021cef1014c0b5e494b.png" style="width: 220px; height: 180px;">
    <img src="https://img.icons8.com/color/452/firebase.png" style="width: 150px; height: 150px;">
</div>
