<!DOCTYPE html>
<html lang="pt">

<%- include("partials/headerpt") %>

    <header class=" center align-items-center justify-content-center text-center align-self-center ">
        <h1>RAFHAEL MARQUES</h1>
        <h2>DESENVOLVEDOR WEB</h2>
    </header>
    <main class="container text-left mt-4">
        <!-- Main Content -->
        <section>
            <div>
            <h1 class="title">SOBRE MIM</h1>
            <br>
            <p class="paragraph">Eu sou um desenvolvedor web(<i>front-end</i>) do Brasil.
              Tenho experiência no desenvolvimento de sites, desenvolvimento de aplicativos móveis multiplataforma com React Native e construção de <i>bots</i> com Python.
              Programar não é minha única paixão, adoro estudar economia e negócios também.
              Você pode ver todos os <i>frameworks</i> com aos quais estou familiarizado em meu <a href="#resume">currículo</a>. </p>  
            </div>
            <h1  class="title">MEUS WEBSITES</h1>
            <br>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Planet Commodity</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </section>
    </main>

    


    <footer>         <!-- Links To My Social Media -->


    </footer>
</body>

</html>