<!DOCTYPE html>
<html lang="en">

<%- include("../partials/header") %>
<header class="center align-items-center justify-content-center text-center align-self-center ">
  <h1>RAFHAEL MARQUES</h1>
  <h2>WEB DEVELOPER</h2>
</header>
<main class="container text-left mt-4">
  <!-- Main Content -->
  <section>
    <div>
      <h1 class="titleEN">ABOUT ME</h1>
      <br>
      <p class="paragraph">I am a Front-End Web Developer from Brazil.
        I have experience developing Websites, developing cross platform mobile applications with React Native, and
        building bots with Python.
        Coding is not my only passion though, I love studying economics and business as well.
        You can see all the frameworks that I am familiar with on my <a href="#resume">resume</a>. </p>
    </div>
    <h1 class="titleEN">MY WEBSITES</h1>
    <br>
    <div class="card" style="width: 18rem;">
      <h1 style="margin: 0 auto; text-shadow: 3px 4px #3d3d3d !important; font-size: 90px;"><span style="color: rgb(143, 57, 255);">R</span><span style="color: blue;">M</span></h1>
       <div class="card-body">
        <h3 class="card-title">Personal Website</h3>
        <p style="text-align: left; font-size: 19px;" class="card-text">This website for example was built with</p>
        <ul class="stack-in-cards">
          <li><img
              src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fd%2Fdc%2FJavascript-shield.png&f=1&nofb=1"
              style="height: 48px; width: 50px;" alt=""></li>
          <li><img
              src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpluspng.com%2Fimg-png%2Fjquery-logo-png-jquery-320.png&f=1&nofb=1"
              style="height: 48px; width: 50px;" alt=""></li>
          <li><img src="https://d2vs8yx90uvogk.cloudfront.net/2019/11/ExpressJS.png" style="height: 48px; width: 100px;"alt=""></li>
        </ul>
        <br>
        <ul class="stack-in-cards">
          <li><img
              src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fd%2Fd9%2FNode.js_logo.svg%2F1280px-Node.js_logo.svg.png&f=1&nofb=1"
              style="height: 48px; width: 58px;" alt=""></li>
        </ul>
        <br>
        <ul class="stack-in-cards">
          <li><img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/512px-HTML5_logo_and_wordmark.svg.png"
              style="height: 48px; width: 50px;" alt=""></li>
          <li><img src="https://img.icons8.com/color/452/bootstrap.png" style="height: 48px; width: 50px;" alt=""></li>
        </ul>
        <br>
        <ul class="stack-in-cards">
          <li><img src="https://cdn.iconscout.com/icon/free/png-512/css-118-569410.png" style="height: 48px; width: 50px;"
              alt=""></li>
          <li><img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Sass_Logo_Color.svg/1280px-Sass_Logo_Color.svg.png"
              style="height: 48px; width: 50px;" alt=""></li>
        </ul>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">JavaScript w/ JQUERY, EJS, Node.js, Express.js </li>
        <li class="list-group-item">HTML w/ Bootstrap</li>
        <li class="list-group-item">CSS w/ SASS</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </section>
</main>




<footer>
  <!-- Links To My Social Media -->


</footer>
</body>

</html>