
header {
    padding-top: 13%;
    padding-bottom: 25%;
    text-align: center;
    color: azure;
    text-shadow: 2px 2px 4px #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}





