$pt-background-color: linear-gradient( 109.6deg,  rgb(202, 0, 78) 16%, rgb(255, 145, 43) 91.1% );
$es-background-color: linear-gradient( 109.6deg,  rgb(255, 147, 46) 16%, rgb(255, 175, 100) 91.1% );
$en-background-color: linear-gradient( 109.6deg,  rgb(16, 22, 59) 16%, rgb(39, 47, 73) 91.1% );

.pt {    
        background-image: $pt-background-color !important;     
}

.en {
    background-image: $en-background-color !important;     
}

.es {
    background-image: $es-background-color !important;     
}