nav {
  font-size: 21px !important;
}

.pt {
  background-image: linear-gradient(109.6deg, #ca004e 16%, #ff912b 91.1%) !important;
}

.en {
  background-image: linear-gradient(109.6deg, #10163b 16%, #272f49 91.1%) !important;
}

.es {
  background-image: linear-gradient(109.6deg, #ff932e 16%, #ffaf64 91.1%) !important;
}

.nav-link {
  color: white !important;
  font-size: 23px;
}

.right-bar {
  text-align: right !important;
  margin-right: 15px !important;
}

.nav-link {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-link:before, .nav-link:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: white;
}

.nav-link:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-link:after {
  opacity: 0;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-transition: opacity 1s, -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 1s, -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s;
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s, -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-link:hover:before, .nav-link:hover:after, .nav-link:focus:before, .nav-link:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav-link:hover:before, .nav-link:focus:before {
  -webkit-transition: opacity 1s, -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 1s, -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s;
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s, -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-link:hover:after, .nav-link:focus:after {
  -webkit-transition: opacity 0s 1s, -webkit-transform 0s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s 1s, -webkit-transform 0s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 1s;
  transition: transform 0s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 1s, -webkit-transform 0s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#es nav .brazil-flag {
  opacity: 50%;
}

#es nav .brazil-flag:hover {
  opacity: 75%;
}

#es nav .spain-flag {
  height: 30px !important;
  width: 40px !important;
}

#es nav .usa-flag {
  opacity: 50%;
}

#es nav .usa-flag:hover {
  opacity: 75%;
}

#pt nav .spain-flag {
  opacity: 50%;
}

#pt nav .spain-flag:hover {
  opacity: 75%;
}

#pt nav .brazil-flag {
  height: 30px !important;
  width: 40px !important;
}

#pt nav .usa-flag {
  opacity: 50%;
}

#pt nav .usa-flag:hover {
  opacity: 75%;
}

#en nav .spain-flag {
  opacity: 50%;
}

#en nav .spain-flag:hover {
  opacity: 75%;
}

#en nav .usa-flag {
  height: 30px !important;
  width: 40px !important;
}

#en nav .brazil-flag {
  opacity: 50%;
}

#en nav .brazil-flag:hover {
  opacity: 75%;
}

@media only screen and (max-width: 600px) {
  .titlePT {
    font-size: 27px !important;
  }
  .titleEN {
    font-size: 27px !important;
  }
  .titleES {
    font-size: 27px !important;
  }
}

.titlePT {
  padding: 15px !important;
  margin: 15px !important;
  font-size: 50px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 3px 7px #1f1f1f;
          box-shadow: 0px 3px 7px #1f1f1f;
  position: relative !important;
  text-align: center !important;
  display: block !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: azure;
  text-shadow: 2px 2px 8px #000000;
  background-image: linear-gradient(109.6deg, #ca004e 16%, #ff912b 91.1%);
}

.titleEN {
  padding: 15px !important;
  margin: 15px !important;
  font-size: 50px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 3px 7px #1f1f1f;
          box-shadow: 0px 3px 7px #1f1f1f;
  position: relative !important;
  text-align: center !important;
  display: block !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: azure;
  text-shadow: 2px 2px 8px #000000;
  background-image: linear-gradient(109.6deg, #152e52 16%, #2f325c 91.1%);
}

.titleES {
  padding: 15px !important;
  margin: 15px !important;
  font-size: 50px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 3px 7px #1f1f1f;
          box-shadow: 0px 3px 7px #1f1f1f;
  position: relative !important;
  text-align: center !important;
  display: block !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: azure;
  text-shadow: 2px 2px 8px #000000;
  background-image: linear-gradient(109.6deg, #ff8725 16%, #ffc64a 91.1%);
}

header {
  padding-top: 13%;
  padding-bottom: 25%;
  text-align: center;
  color: azure;
  text-shadow: 2px 2px 4px #000000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 58px !important;
  }
  header h2 {
    font-size: 34px !important;
  }
  body {
    overflow-x: hidden;
  }
  body p {
    font-size: 18px !important;
    text-align: center;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif !important;
  overflow-x: hidden;
}

body p {
  font-size: 25px;
}

body a {
  color: #006fd6;
}

body a:hover {
  color: #003c8a;
}

body nav {
  -webkit-transition: top 0.4s !important;
  transition: top 0.4s !important;
}

main {
  background-color: #f7f7f7 !important;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 15px;
  border-radius: 40px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 0px 12px #1a1a1a;
          box-shadow: 0px 0px 12px #1a1a1a;
}

header {
  padding-top: 13%;
  padding-bottom: 25%;
  text-align: center;
  color: azure;
  text-shadow: 2px 2px 4px #000000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

header h1 {
  font-size: 90px;
}

header h2 {
  font-size: 50px;
}

.flags {
  height: 20px;
  width: 30px;
  margin-right: 10px !important;
  -webkit-box-shadow: 0px 0px 6px 1px #1f1f1f;
          box-shadow: 0px 0px 6px 1px #1f1f1f;
}

.flags .flags:hover {
  opacity: 80%;
}

.stack-in-cards {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style-type: none;
  margin: 4px -35px;
}

.stack-in-cards li {
  margin: auto 5px;
}

.card {
  border-radius: 40px !important;
  border: 0px;
  -webkit-box-shadow: 0px 0px 5px 0px #202020;
          box-shadow: 0px 0px 5px 0px #202020;
}
/*# sourceMappingURL=style.css.map */