nav {
  font-size: 21px !important;
}

.pt {
  background-image: linear-gradient(109.6deg, #ca004e 16%, #ff912b 91.1%) !important;
}

.en {
  background-image: linear-gradient(109.6deg, #10163b 16%, #272f49 91.1%) !important;
}

.es {
  background-image: linear-gradient(109.6deg, #34364e 0%, #2f3069 100%) !important;
}

nav #home {
  color: white !important;
}

nav svg:hover {
  text-decoration: none !important;
}

.nav-link {
  color: white !important;
  font-size: 19px;
  margin-top: 5px;
}

.right-bar {
  text-align: right !important;
  margin-right: 15px !important;
}

.nav-link {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-link:before, .nav-link:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: white;
}

.nav-link:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-link:after {
  opacity: 0;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-transition: opacity 1s, -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 1s, -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s;
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s, -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-link:hover:before, .nav-link:hover:after, .nav-link:focus:before, .nav-link:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav-link:hover:before, .nav-link:focus:before {
  -webkit-transition: opacity 1s, -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 1s, -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s;
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s, -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-link:hover:after, .nav-link:focus:after {
  -webkit-transition: opacity 0s 1s, -webkit-transform 0s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s 1s, -webkit-transform 0s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 1s;
  transition: transform 0s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 1s, -webkit-transform 0s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#es nav .brazil-flag {
  opacity: 50%;
}

#es nav .brazil-flag:hover {
  opacity: 75%;
}

#es nav .spain-flag {
  height: 30px !important;
  width: 40px !important;
}

#es nav .usa-flag {
  opacity: 50%;
}

#es nav .usa-flag:hover {
  opacity: 75%;
}

#pt nav .spain-flag {
  opacity: 50%;
}

#pt nav .spain-flag:hover {
  opacity: 75%;
}

#pt nav .brazil-flag {
  height: 30px !important;
  width: 40px !important;
}

#pt nav .usa-flag {
  opacity: 50%;
}

#pt nav .usa-flag:hover {
  opacity: 75%;
}

#en nav .spain-flag {
  opacity: 50%;
}

#en nav .spain-flag:hover {
  opacity: 75%;
}

#en nav .usa-flag {
  height: 30px !important;
  width: 40px !important;
}

#en nav .brazil-flag {
  opacity: 50%;
}

#en nav .brazil-flag:hover {
  opacity: 75%;
}

@media only screen and (max-width: 600px) {
  .titlePT {
    font-size: 27px !important;
  }
  .titleEN {
    font-size: 27px !important;
  }
  .titleES {
    font-size: 27px !important;
  }
}

.titlePT {
  padding: 15px !important;
  margin: 15px !important;
  font-size: 50px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 3px 7px #1f1f1f;
          box-shadow: 0px 3px 7px #1f1f1f;
  position: relative !important;
  text-align: center !important;
  display: block !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: azure;
  text-shadow: 2px 2px 8px #000000;
  background-image: linear-gradient(109.6deg, #ca004e 16%, #ff912b 91.1%);
}

.titleEN {
  padding: 15px !important;
  margin: 15px !important;
  font-size: 50px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 3px 7px #1f1f1f;
          box-shadow: 0px 3px 7px #1f1f1f;
  position: relative !important;
  text-align: center !important;
  display: block !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: azure;
  text-shadow: 2px 2px 8px #000000;
  background-image: linear-gradient(109.6deg, #152e52 16%, #2f325c 91.1%);
}

.titleES {
  padding: 15px !important;
  margin: 15px !important;
  font-size: 50px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 3px 7px #1f1f1f;
          box-shadow: 0px 3px 7px #1f1f1f;
  position: relative !important;
  text-align: center !important;
  display: block !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: azure;
  text-shadow: 2px 2px 8px #000000;
  background-image: linear-gradient(109.6deg, #27283a 16%, #2c2d61 100%);
}

header {
  padding-top: 13%;
  padding-bottom: 25%;
  text-align: center;
  color: azure;
  text-shadow: 2px 2px 4px #000000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: auto !important;
  -webkit-box-shadow: 0px 0px 4px #2b2b2b;
          box-shadow: 0px 0px 4px #2b2b2b;
  color: white;
  text-shadow: 0px 0px 3px black;
  margin-bottom: 0 !important;
}

footer div {
  padding-bottom: 10px;
}

footer a {
  font-size: 17px;
  text-shadow: none !important;
  padding: auto 15px;
  color: #3c4170;
}

footer h4 {
  padding-top: 20px;
}

footer #github {
  color: black;
}

footer #github :hover {
  opacity: 80%;
}

footer #linkedin {
  color: #2c4e8d !important;
}

footer #linkedin :hover {
  opacity: 80%;
}

#pt footer {
  background-color: #ee9617;
  background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
}

#en footer {
  background-color: #537895;
  background-image: linear-gradient(315deg, #25213d 0%, #09203f 74%);
}

#es footer {
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #423044 0%, #0d324d 74%);
}

.resume {
  margin: auto 90px;
}

.resume .col {
  border: 0px solid black;
  border-radius: 50px;
  margin: 8px 8px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: 5px 10px 18px #888888;
          box-shadow: 5px 10px 18px #888888;
}

.resume h1 {
  font-size: 50px;
  text-shadow: 2px 2px 4px #000000;
  color: white;
}

.resume h2 {
  font-size: 34px;
  text-align: center;
  color: white;
  border: 0px;
  border-radius: 35px;
  margin: 15px auto;
  padding: 10px;
}

.resume h3 {
  font-size: 24px;
  color: #1f1f1f;
  padding: 10px;
}

.resume h4 {
  font-size: 22px;
  color: rgba(59, 59, 59, 0.863);
  padding-left: 10px;
  padding-bottom: 12px;
}

.resume a {
  font-size: 24px;
  padding: 10px;
}

.resume li {
  font-size: 24px;
  color: #1f1f1f;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .resume {
    margin: auto 30px;
  }
  .resume h1 {
    font-size: 35px;
  }
  .resume h2 {
    font-size: 30px;
  }
  .resume h3 li {
    font-size: 18px;
  }
  .resume h4 li {
    font-size: 15px;
  }
  .resume a {
    font-size: 25px !important;
    text-align: center !important;
    padding-bottom: 15px !important;
  }
}

.resume h2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#243949), to(#517fa4));
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

.resumePT h2 {
  background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
}

.resumeES h2 {
  background-image: radial-gradient(circle farthest-corner at 3.3% 48.3%, #2c3c79 0%, #81519c 98.8%);
}

#contact {
  margin: 90px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 0px;
  border-radius: 45px;
}

#contact form {
  text-align: center;
  display: inline-block;
}

#contact h1 {
  margin-top: -20px;
}

#contact input {
  border-radius: 15px;
  padding: 15px;
  margin: 5px auto;
}

#contact textarea {
  border-radius: 15px;
  padding: 15px;
  margin-top: 10px;
}

#contact * {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#contact body {
  font-family: "Montserrat";
}

#contact section {
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 20px #00000010;
          box-shadow: 0px 0px 20px #00000010;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}

#contact .form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

#contact .form-group input,
#contact .form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
}

#contact textarea {
  resize: vertical;
}

#contact #status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}

#contact #status.success {
  background-color: #d3fa99;
  -webkit-animation: status 4s ease forwards;
          animation: status 4s ease forwards;
}

#contact #status.error {
  background-color: #fa815c;
  color: white;
  -webkit-animation: status 4s ease forwards;
          animation: status 4s ease forwards;
}

@-webkit-keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

#contact a {
  font-size: 25px !important;
  text-align: left;
}

#en #contact .btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#2b5876), color-stop(51%, #4e4376), to(#2b5876));
  background-image: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%);
}

#en #contact .btn {
  margin: 10px;
  padding: 15px 45px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  -webkit-box-shadow: 0 0 20px #eee;
          box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

#en #contact .btn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#pt #contact .btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF512F), color-stop(51%, #DD2476), to(#FF512F));
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #FF512F 100%);
}

#pt #contact .btn {
  margin: 10px;
  padding: 15px 45px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  -webkit-box-shadow: 0 0 20px #eee;
          box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

#pt #contact .btn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#es #contact .btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#2a516d), color-stop(51%, #332a53), to(#122635));
  background-image: linear-gradient(to right, #2a516d 0%, #332a53 51%, #122635 100%);
}

#es #contact .btn {
  margin: 10px;
  padding: 15px 45px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  -webkit-box-shadow: 0 0 20px #eee;
          box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

#es #contact .btn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#project-icon {
  -webkit-transition: 250ms linear !important;
  transition: 250ms linear !important;
}

#project-icon:hover {
  /*transition: 50ms linear !important; */
  color: #0f0f68 !important;
  opacity: 85%;
  font-size: 32px !important;
}

#projects .img-thumbnail {
  height: 320px;
  text-align: center;
}

#project-image {
  width: 300px !important;
  height: 200px !important;
  border-radius: 10px;
}

#project-image-1 {
  width: 130px;
  height: 200px;
  border-radius: 10px;
}

@media only screen and (max-width: 618px) {
  #project-image {
    width: 250px !important;
  }
}

.skills {
  text-align: center !important;
}

.skills img {
  padding: 10px 10px !important;
}

@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 58px !important;
  }
  header h2 {
    font-size: 34px !important;
  }
  body {
    overflow-x: hidden;
  }
  body p {
    font-size: 18px !important;
    text-align: center;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Sora', sans-serif !important;
  overflow-x: hidden;
}

body p {
  font-size: 23px;
  letter-spacing: 1px;
}

body a {
  color: #006fd6;
}

body a:hover {
  color: #003c8a;
}

body nav {
  -webkit-transition: top 0.4s !important;
  transition: top 0.4s !important;
}

.PP {
  margin: 30px auto;
  background-color: #e7e7e7;
  border-radius: 40px;
}

.PP h1 {
  padding: 15px auto;
  text-align: center;
}

.PP h2 {
  text-align: center;
  padding: 10px auto;
}

.PP p {
  margin: auto 10px;
}

main {
  background-color: #f7f7f7 !important;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 15px;
  border-radius: 40px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 0px 12px #1a1a1a;
          box-shadow: 0px 0px 12px #1a1a1a;
}

header {
  padding-top: 13%;
  padding-bottom: 25%;
  text-align: center;
  color: azure;
  text-shadow: 2px 2px 4px #000000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

header h1 {
  font-size: 90px;
}

header h2 {
  font-size: 50px;
}

.flags {
  height: 20px;
  width: 30px;
  margin-right: 10px !important;
  -webkit-box-shadow: 0px 0px 6px 1px #1f1f1f;
          box-shadow: 0px 0px 6px 1px #1f1f1f;
}

.flags .flags:hover {
  opacity: 80%;
}

.stack-in-cards {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style-type: none;
  margin: 4px -35px;
}

.stack-in-cards li {
  margin: auto 5px;
}

.card {
  background-color: white;
  border-radius: 40px !important;
  border: 0px;
  -webkit-box-shadow: 0px 0px 5px 0px #202020;
          box-shadow: 0px 0px 5px 0px #202020;
}

.card li {
  color: #2b2b2b !important;
}

.card h3 {
  text-align: center !important;
  -ms-flex-line-pack: center !important;
      align-content: center !important;
  color: #000000;
  text-shadow: 1px 1px 2px #202020;
}
/*# sourceMappingURL=style.css.map */