<footer>
    <div>
        <h4>Rafhael Marques Web Development</h4>
        <div>
            <i class="fas fa-envelope fa-1x"></i>
            <a href="rafamlf.2011@gmail.com">rafamlf.2011@gmail.com</a>
        </div>
        <div style="margin-top: 10px;">
            <a id="github" href="https://github.com/Rafhael1" target="_blank"> <i class="fab fa-github fa-3x"></i> </a>
            <a id="linkedin" href="https://www.linkedin.com/in/rafhael-marques-b2881a1b3/" target="_blank"> <i class="fab fa-linkedin fa-3x"></i> </a>
        </div>
        <hr>
        <h6> Copyright &copy; rafhaelmarques.me 2020</h6>
        <a href="/privacy-policy">Privacy Policy</a>
    </div>
</footer>
</div>