<div class="card" style="width: 18rem;">
    <h1 style="margin: 0 auto; text-shadow: 3px 4px #3d3d3d !important; font-size: 90px;"><span style="color: rgb(143, 57, 255);">R</span><span style="color: rgb(0, 0, 207);">M</span></h1>
     <div class="card-body">
      <h3 class="card-title">Website Pessoal</h3>
      <hr>
      <p style="text-align: left; font-size: 19px;" class="card-text">Por exemplo, este website foi contruido com: </p>
      <ul class="stack-in-cards">
        <li><img
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fd%2Fdc%2FJavascript-shield.png&f=1&nofb=1"
            style="height: 48px; width: 50px;" alt=""></li>
        <li><img
            src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpluspng.com%2Fimg-png%2Fjquery-logo-png-jquery-320.png&f=1&nofb=1"
            style="height: 48px; width: 50px;" alt="jquery" title="jquery"></li>
        <li><img src="https://d2vs8yx90uvogk.cloudfront.net/2019/11/ExpressJS.png" style="height: 48px; width: 115px;"alt="express" title="express"></li>
      </ul>
      <br>
      <ul class="stack-in-cards">
        <li><img
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fd%2Fd9%2FNode.js_logo.svg%2F1280px-Node.js_logo.svg.png&f=1&nofb=1"
            style="height: 48px; width: 58px;" alt="nodejs" title="node.js"></li>
      </ul>
      <br>
      <ul class="stack-in-cards">
        <li><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/512px-HTML5_logo_and_wordmark.svg.png"
            style="height: 48px; width: 50px;" alt="html" title="html"></li>
        <li><img src="https://img.icons8.com/color/452/bootstrap.png" style="height: 48px; width: 50px;" alt="bootstrap" title="bootstrap"></li>
      </ul>
      <br>
      <ul class="stack-in-cards">
        <li><img src="https://cdn.iconscout.com/icon/free/png-512/css-118-569410.png" style="height: 48px; width: 50px;"
            alt="css" title="css"></li>
        <li><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Sass_Logo_Color.svg/1280px-Sass_Logo_Color.svg.png"
            style="height: 48px; width: 50px;" alt="sass" title="sass"></li>
      </ul>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">JavaScript com JQUERY, EJS, Node.js, Express.js </li>
      <li class="list-group-item">HTML com Bootstrap</li>
      <li class="list-group-item">CSS com SASS</li>
    </ul>
    <div class="card-body">
      <a href="/" class="card-link">Link Para Este Website</a>
    </div>
  </div>