<body>
    <div id="en">
        <%- include("../partials/header") %>
        <%- include("../navs/nav") %>
              <h1>COMING SOON...</h1>
    <!--    <div>
            <section>
                <h1>FineAnce</h1>
                <p>I built this finance app to help me manage my personal finances, It's easier to user for
                    people who are not used to Google Sheets/Excel and it's also wayt better looking than them
                </p>
                <div>
                    imgPholder
                </div>
                <div>
                    <h1>Technologies </h1>
                    <p>I built this finance app to help me manage my personal finances, It's easier to user for
                        people who are not used to Google Sheets/Excel and it's also wayt better looking than
                        them </p>
                    <div>
                        imgPholder
                    </div>
                </div>
            </section>
            <section>
                <h1>Fast Recipes</h1>
                <p>I built this finance app to help me manage my personal finances, It's easier to user for
                    people who are not used to Google Sheets/Excel and it's also wayt better looking than them
                </p>
                <div>
                    imgPholder
                </div>
                <div>
                    <h1>Technologies </h1>
                    <p>I built this finance app to help me manage my personal finances, It's easier to user for
                        people who are not used to Google Sheets/Excel and it's also wayt better looking than
                        them </p>
                    <div>
                        imgPholder
                    </div>
                </div>
            </section>
        -->

            <%- include('../footer/footer')  %>

</body>

</html>