<div id="projects">
    <div class="row">
        <div class="col-sm">
            <div class="img-thumbnail">
                <img id="project-image" src="imgs/recipes-app.png"  alt="">
                <p style="text-align: center; margin-top: 5px; ">Recipes App</p>
                <a href="https://recipes-project.vercel.app/" target="_blank"><i id="project-icon"
                        style="font-size: 26px; color: rgb(29, 29, 29)" class="far fa-eye fa-2x"></i></a>
                <a href="https://github.com/Rafhael1/RecipesProject" target="_blank"><i id="project-icon"
                        style="font-size: 26px; color: rgb(29, 29, 29);" class="fas fa-code fa-2x"></i>
                </a>
            </div>
        </div>
        <div class="col-sm">
            <div class="img-thumbnail">
                <img id="project-image-1" src="imgs/yelp-restaurant.jpeg" alt="">
                <p  style="text-align: center; margin-top: 5px; ">Restaurant Search App</p>
                <a href="https://expo.io/@rafhael1/projects/yelp-restaurant-search-app" target="_blank"><i id="project-icon"
                        style="font-size: 26px; color: rgb(29, 29, 29)" class="far fa-eye fa-2x"></i></a>
                <a href="https://github.com/Rafhael1/Yelp-restaurant-search-app" target="_blank"><i id="project-icon"
                        style="font-size: 26px; color: rgb(29, 29, 29);" class="fas fa-code fa-2x"></i>
                </a>
            </div>
        </div>
        <div class="col-sm">
            <div class="img-thumbnail">
                <img id="project-image" src="imgs/weather-app.png" alt="">
                <p  style="text-align: center; margin-top: 5px; ">Weather App</p>
                <a href="https://weather-app-psi-nine.vercel.app/" target="_blank"><i id="project-icon"
                        style="font-size: 26px; color: rgb(29, 29, 29)" class="far fa-eye fa-2x"></i></a>
                <a href="https://github.com/Rafhael1/weather-app" target="_blank"><i id="project-icon"
                        style="font-size: 26px; color: rgb(29, 29, 29);" class="fas fa-code fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="img-thumbnail">
                <img id="project-image" src="imgs/quotes-app.png" alt="">
                <p  style="text-align: center; margin-top: 5px; ">Quotes App</p>
                <a href="https://quotes-app-a3283.web.app/" target="_blank"><i id="project-icon"
                        style="font-size: 26px; color: rgb(29, 29, 29)" class="far fa-eye fa-2x"></i></a>
                <a href="https://github.com/Rafhael1/QuotesApp" target="_blank"><i id="project-icon"
                        style="font-size: 26px; color: rgb(29, 29, 29);" class="fas fa-code fa-2x"></i>
                </a>
            </div>
        </div>
        <div class="col-sm">
           
        </div>
        <div class="col-sm">
           
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm">
            CryptoArchy
        </div>
        <div class="col-sm">
            Blog
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div> -->
</div>