<div id="projects">
    <div class="row">
        <div class="col-sm">
            <div class="img-thumbnail">
                <img id="project-image" src="imgs/recipes-app.png"  alt="">
                <p style="text-align: center; margin-top: 5px; ">App de Receitas</p>
                <a href="https://recipes-project.vercel.app/" target="_blank"><i id="project-icon"
                        style="font-size: 26px; color: rgb(29, 29, 29)" class="far fa-eye fa-2x"></i></a>
                <a href="https://github.com/Rafhael1/RecipesProject" target="_blank"><i id="project-icon"
                        style="font-size: 26px; color: rgb(29, 29, 29);" class="fas fa-code fa-2x"></i>
                </a>
                <br>
                <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#recipes" aria-expanded="false" aria-controls="collapseExample">
                    Saiba Mais
                  </button>
                </p>
                <div class="collapse" id="recipes">
                    <div class="card card-body">
                        Este é um aplicativo de receitas construído com uma API externa, você pode pesquisar ingredientes e pratos e obter muitas receitas diferentes.          
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="img-thumbnail">
                <img id="project-image-1" src="imgs/yelp-restaurant.jpeg" alt="">
                <p  style="text-align: center; margin-top: 5px; ">Busca de Restaurante</p>
                <a href="https://expo.io/@rafhael1/projects/yelp-restaurant-search-app" target="_blank"><i id="project-icon"
                        style="font-size: 26px; color: rgb(29, 29, 29)" class="far fa-eye fa-2x"></i></a>
                <a href="https://github.com/Rafhael1/Yelp-restaurant-search-app" target="_blank"><i id="project-icon"
                        style="font-size: 26px; color: rgb(29, 29, 29);" class="fas fa-code fa-2x"></i>
                </a>
                <br>
                <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#restaurant" aria-expanded="false" aria-controls="collapseExample">
                    Saiba Mais
                  </button>
                </p>
                <div class="collapse" id="restaurant">
                  <div class="card card-body">
                    Este é um aplicativo para busca de restaurantes, foi construído com a API do yelp e React Native, embora não esteja disponível na App Store / Play Store, você pode conferir baixando o aplicativo da Expo no seu celular e escanear o código QR no site vinculado acima.                   

                  </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="img-thumbnail">
                <img id="project-image" src="imgs/weather-app.png" alt="">
                <p  style="text-align: center; margin-top: 5px; ">App do Clima</p>
                <a href="https://weather-app-psi-nine.vercel.app/" target="_blank"><i id="project-icon"
                        style="font-size: 26px; color: rgb(29, 29, 29)" class="far fa-eye fa-2x"></i></a>
                <a href="https://github.com/Rafhael1/weather-app" target="_blank"><i id="project-icon"
                        style="font-size: 26px; color: rgb(29, 29, 29);" class="fas fa-code fa-2x"></i>
                </a>
                <br>
                <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#weather" aria-expanded="false" aria-controls="collapseExample">
                    Saiba Mais
                  </button>
                </p>
                <div class="collapse" id="weather">
                  <div class="card card-body">
                    Este é um aplicativo de clima bastante simples que muda sua imagem de fundo de acordo com a temperatura                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="img-thumbnail">
                <img id="project-image" src="imgs/quotes-app.png" alt="">
                <p  style="text-align: center; margin-top: 5px; ">App de Ditados</p>
                <a href="https://quotes-app-a3283.web.app/" target="_blank"><i id="project-icon"
                        style="font-size: 26px; color: rgb(29, 29, 29)" class="far fa-eye fa-2x"></i></a>
                <a href="https://github.com/Rafhael1/QuotesApp" target="_blank"><i id="project-icon"
                        style="font-size: 26px; color: rgb(29, 29, 29);" class="fas fa-code fa-2x"></i>
                </a>
                <br>
                <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#quotes" aria-expanded="false" aria-controls="collapseExample">
                    Saiba Mais
                  </button>
                </p>
                <div class="collapse" id="quotes">
                  <div class="card card-body">
                    Este é um aplicativo de citações com um design muito simples. O aplicativo obtém citações aleatórias de uma API externa quando você clica no botão. Foi construído com React
                  </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
           
        </div>
        <div class="col-sm">
           
        </div>
    </div>
    </div>